<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Wikimap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <div class="button-group-container">
        <div class="btn-group">
          <li class="nav-item dropdown"></li>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All Maps
            </a>
            <div id="dropdownmenuall" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% for (let map of mapList){ %>
              <button class="dropdown-item" name="allMaps" onclick="redirectByMapID(<%= map.id %>)" ><%- map.title %></button>
              <% } %>
            </div>
          </li>
        </div>
        <% if(currentUser){ %>
  <!-- shows the Favourites and Owned dropdown if logged in -->
        <div class="btn-group">
          <li class="nav-item dropdown"></li>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Favourites
          </a>
          <div id="dropdownmenufav" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <% for (let favMap of favouriteMapList){ %>
              <% console.log(favMap, "favMap") %>
            <button class="dropdown-item" name="favMaps" onclick="redirectByMapID(<%= favMap.id %>)" ><%- favMap.title %></button>
            <% } %>
          </div>
          </li>
        </div>
        <div class="btn-group">
          <li class="nav-item dropdown"></li>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Maps
          </a>
          <div id="dropdownmenuowned" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
            <% for (let ownedMap of ownedMapList){ %>
            <button class="dropdown-item" name="ownedMaps" onclick="redirectByMapID(<%= ownedMap.id %>)" ><%- ownedMap.title %></button>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
      </li>
      <div class="login collapse navbar-collapse ml-auto">
        <% if(currentUser){ %>
          <span id="username"><%= currentUser %></span>
          <form method="POST" action="user/logout">
            <button type="submit" class="btn btn-light"> Logout </button>
          </form>
          <% } else { %>
        <form id="loginForm" method="POST" action="/user/login" class="form-inline my-2 my-lg-0">
          <input class="form-control" type="username" name="username" style="width: 300px; "/>
          <button type="submit" class="btn btn-light"> Login </button>
        </form>

          <button class="btn btn-light"> <a class='register-btn' href="/user/register">Register</a> </button>

          <span class='help_text'>Login as "Cartographer" or Register to access more features!</span>

        <% } %>
      </div>
      </div>


  </div>
</div>

</nav>

